html, body {
    margin: 0;
    background: #E55D87;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #5FC3E4, #E55D87);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #5FC3E4, #E55D87); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: sans-serif;
    color: white;
}

#draw {
    display: inline-block;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.363);
}

.wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: center;
}

.info {
    text-align: center;
}

.button {
    background: red;
    display: inline-block;
    padding: 2rem;
    margin: 1rem;
}

.button:hover {
    cursor: pointer;
}